.ipynb_checkpoints
**/test/
**/train/
**/data/

**/.DS_Store

.DS_Store
autoencoder/denoising-autoencoder/data/
autoencoder/linear-autoencoder/data/
convolutional-neural-networks/mnist-mlp/data/
intro-to-pytorch/Cat_Dog_data/
intro-to-pytorch/__pycache__/
intro-to-pytorch/checkpoint.pth
project-bikesharing/.DS_Store
project-bikesharing/__pycache__/
project-bikesharing/dlnd-your-first-neural-network.ipynb
project-bikesharing/jcvalerio_answers.py
project-bikesharing/neural_network.py
project-bikesharing/on_udacity/
transfer-learning/.DS_Store
transfer-learning/flower_photos
weight-initialization/__pycache__/
weight-initialization/data
